---
apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/display-name: "Kernel Module Management"
  labels:
    openshift.io/cluster-monitoring: 'true'
  name: openshift-kmm
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: kmm-operator
  namespace: openshift-kmm
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: kernel-module-management
  namespace: openshift-kmm
spec:
  channel: stable
  name: kernel-module-management
  source: redhat-operators
  sourceNamespace: openshift-marketplace
  installPlanApproval: Automatic
